{% extends "base_auth.html.twig" %}

{% block body %} 
<h1>Changer le mot de passes</h1>

    <form action="" method="post">
        

        <div>
        
         <div>

 

        <label for="passwordreset">Mot de passe :</label>
        <input type="password" name="password" id="passwordreset" placeholder="entrez votre password"  required><br><br>
  </div>
        
        
         <div>
        <label for="passwordreset1">confirmer Mot de passe :</label>
        <input type="password" name="password_cfh" id="passwordreset1"   placeholder="confirmer  votre password" required><br><br>
          </div>
        
        
        <input type="submit" name="sendReset" value="send">
    </form>
    <p>

</p>
</body>
</html>




 {% endblock %}