<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
</head>
<body>
    <h1>Bienvenue sur ma page</h1>
    
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}

    {% if userData %}
        <p>Email : {{ userData.email }}</p>
        <!-- Ajoutez d'autres champs selon votre structure de données en session -->
    {% endif %}
    

</body>
</html>
