<!DOCTYPE html>
{% block body %} 
{% include "navbar.html.twig" %}
<link href="/css/event.cs" rel="stylesheet" />

{% if msg %}
<div class="alert alert-danger" role="alert">
          <div>{{msg}} </div>
</div>
{% endif %}   

    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>{{h(eventName)}}</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere sequi, quia, est sed dicta aliquid quidem facilis culpa iure perferendis? Dolor ad quia deserunt.
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere.</p>
                        <button onclick="goBack()" class="btn rey-btn mt-3"> < Retour </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
function goBack() {
            window.history.back();
        }

</script>
<footer>
{% include "footer.html.twig" %}
</footer>
        <script>
            const alertElement = document.getElementById('alert');

            // Cacher le message après 5 secondes
            setTimeout(() => {
                alertElement.style.display = 'none';
            }, 5000);

        </script>
{% endblock %}
  </body>
  </html>