{% extends "base_auth.html.twig" %}
{% block body %}
{% include "navbar.html.twig" %}
<body>
    <h1>Bienvenue sur ma page</h1>
    
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}

    {% if userData %}
        <p>Email : {{ userData.AdresseMail  }}</p>
        <!-- Ajoutez d'autres champs selon votre structure de données en session -->
    {% endif %}
    
<input type="submit" name="sends" value="disconnect">
<footer>
{% include "footer.html.twig" %}
</footer>
</body>
</html>
{% endblock %}
